*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
.master-container{
    /*max-width: 70%;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo-header{
    width: 150px;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
    padding: 5px;
}
.text-content{
    color: #ffffff;
}
.navbar {
    color: #000000;
}
.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    order: 1;
}

.navbar-toggler {
    order: 3;
}

.navbar-collapse {
    order: 2;
    width: 200px;
    display: flex;
    justify-content: flex-end;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    margin-left: 10px;
}


/*Inicio do css do banner*/
.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: calc(90vh - 70px);
    animation: carousel 10s infinite;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@keyframes carousel {
    0% {
        background-image: url('/img/banner-bartho.jpg');
    }
    50% {
        background-image: url('/img/banner-bartho.jpg');
    }
    100% {
        background-image: url('/img/banner-bartho.jpg');
    }
}

.card-banner{
    margin-top: 130px;
    padding: 100px;
    font-weight: bold;
    color: #ffffff;
}
.card-title{
    text-align: left;
}
#subtittle{
    color: #88726c;
}
.btn-more-information{
    color: #ffffff;
    background-color: #654737;
    padding: 10px;
    width: 200px;
}
.btn-more-information:hover{
    background-color: #4b3121;
}
/*Fim do css do banner*/

/*Inicio do css do sobre*/
.sobre{
 margin-top: 100px; margin-bottom: 100px;
}
.content-wrapper{
    text-align: left;
   /*// filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));*/
}
/*Fim do css do sobre*/



/*Inicio do css do qrcode*/
.qrcode{
   background-color: #6C5142;
    color: #ffffff !important;
}

.content-wrapper{
    text-align: left;
    /*// filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));*/
}
/*Fim do css do qrcode*/




/*Inicio do css do footer*/

.footer {
    bottom: 0;
    height: 200px;
    width: 100%;
    background-color: #f5f5f5;
}

/*Fim do css do footer*/



/*inicio do css adote*/

.adote_description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container_Adote_Descriptions {
    margin-top: 30px;
    margin-bottom: 30px;
    border-color: #f5f5f5;
}

.description,
.card-header {
    border-color: #fff;
    background-color: #fff;
    color: #323540;
}

h5,
p {

    color: #000000;
    font-weight: bold;
}

.titulos {
    margin-top: 100px;
    margin-bottom: 100px;
}

.animais {
    margin-bottom: 100px;
    margin-left: 50px;
    background-color: #cfcfd5;
    border: none;
}

.botao-adote {

    background-color: #6C5142;
    transition: background-color 0.3s ease;
}

.botao-adote:hover {
    background-color: #FFD129;
}


/*tab Ajudar inicia aqui*/

.comoajudar {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    /* Ajuste a altura conforme necessário */
}

.container_row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.c_ajudar_white {
    height: auto;
    width: 100%;
    background-color: #fff;
}

.c_ajudar_dark {
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    background-color: #F1F1F1;
}

.ajudar_description {
    border-style: none;
    border: 50px;
    margin-top: 35px;
    margin-right: 45px;
}

.ajuda_img_container {
    margin: 25px;
}

.ajuda_img {
    width: 350px;
    height: 350px;
}
.footer {
    width: 100%;
    bottom: 0;
    left: 0;
}
.image-container{
    background-color: #e9c250;
}
#background-footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    background-color: #e9c250;
}
